<template>
  <div class="pd-b-3">
    <p class="text-center">รูปขนาด 731 X 731</p>
    <div class="d-flex js-center ai-center">
      <el-upload
        action="#"
        :auto-upload="false"
        :on-change="(file, fileList) => handlePreview(file, fileList)"
        :on-remove="handleRemoveDocuments"
        :file-list="formData.img"
        list-type="picture"
        :limit="1"
      >
        <el-button size="small" type="primary">Click to upload</el-button>
      </el-upload>
    </div>
    <el-form
      :model="formData"
      :rules="rules"
      ref="ruleForm"
      label-position="top"
    >
      <el-form-item label="หมวดหมู่" prop="cateId">
        <el-select v-model="formData.cateId" placeholder="Select">
          <el-option :label="'คาสิโน'" :value="1"> </el-option>
          <el-option :label="'แทงบอล'" :value="2"> </el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="ชื่อ" prop="name">
        <el-input v-model="formData.name"></el-input>
      </el-form-item>
      <el-form-item label="ข้อความ" prop="descHtml">
        <quill-editor v-model="formData.descHtml" theme="snow"></quill-editor>
      </el-form-item>
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <router-link :to="'/article'" class="text-grey font-14">
            <i class="el-icon-arrow-left"></i> ย้อนกลับ
          </router-link>
        </div>
        <div>
          <el-button type="success" @click="onSave">บันทึก</el-button>
        </div>
      </div>
    </el-form>
  </div>
</template>
<script>
import { quillEditor } from "vue-quill-editor";
export default {
  components: {
    quillEditor,
  },
  props: {
    formData: {
      type: Object,
      default: () => {},
    },
    edit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      fileList: [],
      dialogImageUrl: null,
      imgUrl: process.env.VUE_APP_IMAGE_URL,
      rules: {
        title: [{ required: true, message: "กรุณากรอกชื่อ", trigger: "blur" }],
        status: [{ required: true, trigger: "blur" }],
        active: [{ required: true, trigger: "blur" }],
      },
    };
  },
  watch: {
    formData() {
      console.log("sdsdsdsdsd", this.formData);
      this.fileList = this.formData.img;
    },
  },
  methods: {
    onSave() {
      this.loading = true;
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.$emit("saveData", this.formData);
        } else {
          this.loading = false;
          this.$message({
            showClose: true,
            message: "กรุณากรอกข้อมูลให้ครบ",
            type: "error",
          });
        }
      });
    },
    onRemove() {
      this.dialogImageUrl = null;
    },
    handleRemoveDocuments() {
      this.formData.img.splice(0, 1);
    },
    handlePreview(file, fileList) {
      let typeThis = file.raw.name.split(".");
      if (
        typeThis[1] == "jpeg" ||
        typeThis[1] == "png" ||
        typeThis[1] == "jpg"
      ) {
        if (file.size < 25000000) {
          let obj = {
            name: file.name,
            file: file,
            url: file.url,
          };
          this.formData.img.push(obj);
        } else {
          let index = fileList.findIndex((a) => a.uid == file.uid);
          fileList.splice(index, 1);
          this.$message({
            message: "กรุณาเลือกไฟล์ขนาดไม่เกิน 25mb",
            type: "error",
            duration: 4000,
          });
        }
      } else {
        let index = fileList.findIndex((a) => a.uid == file.uid);
        fileList.splice(index, 1);
        this.$message({
          message: "กรุณาเลือกไฟล์นามสกุลเป็น JPEG หรือ PNG เท่านั้น",
          type: "error",
          duration: 4000,
        });
      }
    },
  },
};
</script>
