@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./margin.scss";
body,
html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  font-size: 18px;
}

label,
.el-form-item__label {
  font-weight: 700;
  padding-bottom: 0 !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #b3afb3;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #fff;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.text-primary {
  color: #ffff00;
}

.height-screen-100 {
  height: 100vh;
}

.login--page {
  background-size: cover;
  background-color: #f9f9f9;
  background-image: url("../assets/login-register.jpg");
}

.box--login {
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.fix-header {
  background-color: #000;
  padding: 15px 0 0 0;

  .el-button {
    padding: 7px 25px;
  }
}

.nav-top {
  // background: #478ec4;
  // background: -moz-linear-gradient(top, #478ec4 0%, #1166a9 45%, #112353 100%);
  // background: -webkit-linear-gradient(
  //   top,
  //   #478ec4 0%,
  //   #1166a9 45%,
  //   #112353 100%
  // );
  // background: linear-gradient(to bottom, #478ec4 0%, #1166a9 45%, #112353 100%);
  // padding: 8px 0;
  // margin-top: 21px;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      flex-grow: 1;
      list-style-type: none;
      text-align: center;
      background-color: #000;
      margin: 0 15px;
      border-radius: 5px;
      a {
        font-size: 14px;
        color: #f9f9f9;
      }
    }
  }
}

.body-content {
  background-image: url("../assets/bg_sbobet.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  min-height: calc(100vh - 210px);
  color: #fff;
  p {
    font-size: 14px;
    text-align: justify;
  }
  h3 {
    color: #ffff00;
    font-size: 24px;
  }
}

.box-border {
  border-radius: 5px;
  border: 1px solid #ffff00;
  background-color: #111;
  padding: 10px;
}
.head-title {
  text-align: center;
  padding: 5px 0;
  padding: 5px 15px;
  color: #111;
  font-weight: 600;
  font-size: 22px;
  background-image: linear-gradient(to right, #b88215, #f6e07b, #b88215);
}
.bg-black {
  background-color: #000;
}

.bg-footer {
  background-color: #0c0c0c;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.box-shadow {
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.el-carousel__container {
  height: 280px !important;
}

.text-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.box-article {
  height: 180px;
  overflow: hidden;
}

.el-dialog__header {
  padding: 0;
}

.el-dialog__body {
  border: 1px solid #ffff00;
  background-color: #111;
  .el-form-item__label {
    color: #fff;
  }
}
.mobile-nav {
  display: none;
}

.el-button--success {
  background-color: green;
  border-color: green;
}
.el-button--danger {
  background-color: red;
  border-color: red;
}

.el-button--primary {
  background-color: blue;
  border-color: blue;
}

.el-button--warning {
  background: linear-gradient(to right, #b88215, #f6e07b, #b88215);
  background-color: rgba(0, 0, 0, 0);
  color: #0c0c0c;
}

@media screen and (max-width: 820px) {
  .box-article {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .el-dialog {
    width: 100%;
  }
  .el-carousel__container {
    height: 180px !important;
  }
  .mobile-nav {
    display: block;
    background-image: linear-gradient(to right, #b88215, #f6e07b, #b88215);
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0px;
    padding: 7px 15px;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      li {
        &.main {
          margin-top: -25px;
          a {
            .box {
              padding: 25px;
            }
            i {
              font-size: 26px;
            }
          }
        }
        flex-grow: 1;
        list-style: none;
        a {
          display: block;
          font-size: 12px;
          text-align: center;

          .box {
            border: 1px solid #fff;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            padding: 20px;
            background: #000;
            margin-bottom: 7px;
            margin-left: auto;
            margin-right: auto;
          }
          i {
            color: #fff;
            font-size: 14px;
          }
        }
      }
    }
  }
}
