.mg-less {
  margin: 0px !important;
}
.mg-y-less {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.mg-x-less {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mg-l-less {
  margin-left: 0px !important;
}
.mg-r-less {
  margin-right: 0px !important;
}
.mg-1 {
  margin: 5px !important;
}
.mg-2 {
  margin: 10px !important;
}
.mg-3 {
  margin: 15px !important;
}
.mg-4 {
  margin: 20x !important;
}
.mg-5 {
  margin: 25px !important;
}
.mg-6 {
  margin: 30px !important;
}
.mg-7 {
  margin: 35px !important;
}
.mg-x-1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mg-x-2 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mg-x-3 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mg-x-4 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mg-x-5 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.mg-y-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mg-y-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mg-y-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mg-y-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mg-y-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.mg-l-1 {
  margin-left: 5px !important;
}
.mg-l-2 {
  margin-left: 10px !important;
}
.mg-l-3 {
  margin-left: 15px !important;
}
.mg-l-4 {
  margin-left: 20x !important;
}
.mg-l-5 {
  margin-left:25px !important;
}
.mg-r-1 {
  margin-right: 5px !important;
}
.mg-r-2 {
  margin-right: 10px !important;
}
.mg-r-3 {
  margin-right: 15px !important;
}
.mg-r-4 {
  margin-right: 20px !important;
}
.mg-r-5 {
  margin-right: 25px !important;
}
.mg-t-1 {
  margin-top: 5px !important;
}
.mg-t-2 {
  margin-top: 10px !important;
}
.mg-t-3 {
  margin-top: 15px !important;
}
.mg-t-4 {
  margin-top: 20px !important;
}
.mg-t-5 {
  margin-top: 25px !important;
}
.mg-b-1 {
  margin-bottom: 5px !important;
}
.mg-b-2 {
  margin-bottom: 10px !important;
}
.mg-b-3 {
  margin-bottom: 15px !important;
}
.mg-b-4 {
  margin-bottom: 20px !important;
}
.mg-b-5 {
  margin-bottom: 25px !important;
}