.pd-less {
  padding: 0px !important;
}
.pd-y-less {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.pd-x-less {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.pd-l-less {
  padding-left: 0px !important;
}
.pd-r-less {
  padding-right: 0px !important;
}

.pd-1 {
  padding: 40px !important;
}
.pd-2 {
  padding: 32px !important;
}
.pd-3 {
  padding: 24px !important;
}
.pd-4 {
  padding: 16x !important;
}
.pd-5 {
  padding: 8px !important;
}
.pd-x-1 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.pd-x-2 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.pd-x-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.pd-x-4 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.pd-x-5 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.pd-y-1 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.pd-y-2 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.pd-y-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.pd-y-4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.pd-y-5 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.pd-l-1 {
  padding-left: 40px !important;
}
.pd-l-2 {
  padding-left: 32px !important;
}
.pd-l-3 {
  padding-left: 24px !important;
}
.pd-l-4 {
  padding-left: 16px !important;
}
.pd-l-5 {
  padding-left: 8px !important;
}
.pd-r-1 {
  padding-right: 40px !important;
}
.pd-r-2 {
  padding-right: 32px !important;
}
.pd-r-3 {
  padding-right: 24px !important;
}
.pd-r-4 {
  padding-right: 16px !important;
}
.pd-r-5 {
  padding-right: 8px !important;
}
.pd-t-1 {
  padding-top: 40px !important;
}
.pd-t-2 {
  padding-top: 32px !important;
}
.pd-t-3 {
  padding-top: 24px !important;
}
.pd-t-4 {
  padding-top: 16x !important;
}
.pd-t-5 {
  padding-top: 8px !important;
}
.pd-b-1 {
  padding-bottom: 40px !important;
}
.pd-b-2 {
  padding-bottom: 32px !important;
}
.pd-b-3 {
  padding-bottom: 24px !important;
}
.pd-b-4 {
  padding-bottom: 16x !important;
}
.pd-b-5 {
  padding-bottom: 8px !important;
}