<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">

  <!-- install multiselect -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js?v=5.2.4"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js?v=5.2.4"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css?v=5.2.4">
  <!-- -->

  <!-- Font awesome 5.7.2 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <!--  -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>UFABESTBET | เว็บชั้นนำอันดับ1 รวมกีฬา คาสิโน บาคาร่าและสล็อตออนไลน์</title>
  <meta name=“keywords” content=“UFABESTBET,เกมสล็อต,ค่ายสล็อตออนไลน์,แทงบอลออนไลน์” />
  <meta name="description"
    content="เว็บชั้นนำอันดับ1 รวมกีฬา คาสิโน บาคาร่าและสล็อตออนไลน์ | สล็อต 3D มิติใหม่ ของเกมสล็อต แทงบอลออนไลน์ สมัคร UFABESTBET โปรโมชั่นอื่นๆอีกมากมาย อย่าช้าคลิกเลย!!" />
  <meta name="robots" />
</head>

<body>
  <noscript>
    <strong>We're sorry but integreat-endterprise doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>