<template>
  <div class="bg-black">
    <headerBar />
    <register :visible="visible" @setvisible="(e) => (visible = e)" />
    <Deposit :visible="desposit" @setvisible="(e) => (desposit = e)" />
    <div class="body-content">
      <div class="container bg-black py-3">
        <div>
          <el-row :gutter="15" class="mb-3">
            <el-col :span="24" :md="16" :offset="0">
              <el-row :gutter="15">
                <el-col :span="24">
                  <div class="box-border mb-3">
                    <el-row :gutter="15" id="member">
                      <el-col :span="24">
                        <el-form
                          ref="form"
                          :model="formData"
                          label-position="top"
                        >
                          <el-row :gutter="15">
                            <!-- <el-col :span="24" v-if="!user" :md="8" :offset="0">
                              <el-form-item class="mb-2">
                                <el-input
                                  placeholder="ชื่อผู้ใช้"
                                  v-model="formData.username"
                                ></el-input>
                              </el-form-item>
                            </el-col>
                            <el-col :span="24" v-if="!user" :md="8" :offset="0">
                              <el-form-item class="mb-2">
                                <el-input
                                  placeholder="รหัสผ่าน"
                                  v-model="formData.password"
                                  show-password
                                ></el-input>
                              </el-form-item>
                            </el-col> -->
                            <!-- <el-col
                              :span="24"
                              v-if="!user"
                              :md="8"
                              :offset="0"
                              class="mb-2"
                              id="login"
                            >
                              <el-button
                                type="warning"
                                class="w-100"
                                @click="signIn()"
                              >
                                เข้าสู่ระบบ
                              </el-button>
                            </el-col> -->
                          </el-row>
                        </el-form>
                      </el-col>
                      <el-col :span="24" v-if="!user" :md="12" class="mg-b-2">
                        <el-button
                          id="register"
                          type="danger"
                          class="w-100"
                          @click="visible = true"
                          >สมัครสมาชิก</el-button
                        >
                      </el-col>
                      <el-col :span="24" v-if="user" class="mb-2">
                        <el-row :gutter="20">
                          <!-- <el-col :span="24" :md="12" :offset="0">
                            <div class="mt-2">สวัสดี {{ user.username }}</div>
                          </el-col>
                          <el-col :span="24" :md="12" :offset="0" id="deposit">
                            <el-button
                              @click="desposit = true"
                              type="success"
                              class="w-100"
                              icon="el-icon-s-finance"
                              >ฝากเงิน</el-button
                            >
                          </el-col> -->
                          <!-- <el-col :span="8" :offset="0">
                            <el-button
                              type="warning"
                              class="w-100"
                              icon="el-icon-s-claim"
                              >ถอนเงิน</el-button
                            >
                          </el-col> -->
                        </el-row>
                      </el-col>
                      <el-col :span="24" :md="12" class="mb-2">
                        <el-button
                          type="primary"
                          class="w-100"
                          icon="el-icon-user-solid"
                          ><a
                            href="https://line.me/R/ti/p/@098wleou"
                            target="_bank"
                            >ติดต่อแอดมิน</a
                          ></el-button
                        >
                      </el-col>
                      <el-col :span="24" v-if="user" :md="12" class="mb-2">
                        <el-button
                          @click="logout"
                          type="danger"
                          class="w-100"
                          icon="el-icon-unlock"
                          >ออกจากระบบ</el-button
                        >
                      </el-col>
                    </el-row>
                  </div>
                </el-col>
                <el-col :span="24">
                  <Banner class="mb-3" />
                </el-col>
                <el-col :span="24" :md="12" :offset="0">
                  <a href="" class="mg-b-3 d-block">
                    <img
                      class="mw-100"
                      src="@/assets/game/CASINO-ONLINE.jpg"
                      alt=""
                    />
                  </a>
                </el-col>
                <el-col :span="24" :md="12" :offset="0">
                  <a href="" class="mg-b-3 d-block">
                    <img
                      class="w-100"
                      src="@/assets/game/E-SPORT-ONLINE.jpg"
                      alt=""
                    />
                  </a>
                </el-col>
                <el-col :span="24" :md="12" :offset="0">
                  <a href="" class="mg-b-3 d-block">
                    <img
                      class="w-100"
                      src="@/assets/game/GAME-ONLINE.1.jpg"
                      alt=""
                    />
                  </a>
                </el-col>
                <el-col :span="24" :md="12" :offset="0">
                  <a href="" class="mg-b-3 d-block">
                    <img
                      class="w-100"
                      src="@/assets/game/SPORT-BETTING08-300x80.jpg"
                      alt=""
                    />
                  </a>
                </el-col>
              </el-row>
              <div>
                <slot></slot>
              </div>
            </el-col>
            <el-col :span="24" :md="8" :offset="0">
              <div class="mb-3 text-center">
                <!-- <img
                  src="@/assets/banner-right.jpg"
                  class="mw-100 mb-3"
                  alt=""
                /> -->
                <img src="@/assets/banner-right2.jpg" class="mw-100" alt="" />
              </div>
              <div class="mb-3 box-border">
                <h3 class="text-center">ลิงค์ทางเข้าสำรอง</h3>
                <a target="_blank" href="https://www.betufa.com">
                  <el-button type="warning" class="w-100 mb-2">
                    ลิงค์เข้า UFABET ที่ 1
                  </el-button>
                </a>
                <a target="_blank" href="https://www.ufabet.com">
                  <el-button type="warning" class="w-100 mb-2">
                    ลิงค์เข้า UFABET ที่ 2
                  </el-button></a
                >
                <a target="_blank" href="https://www.777beer.com"
                  ><el-button type="warning" class="w-100 mb-2">
                    ลิงค์เข้า UFABET ที่ 3
                  </el-button></a
                >
              </div>
              <div class="box-border">
                <h3 class="text-center">ข้อดีของการเป็นสมาชิกกับเรา</h3>
                <ul>
                  <li>เว็บมีมาตรฐานระดับเว็บชั้นนำของโลก</li>
                  <li>มีระบบความปลอดภัยระดับสูงสุด</li>
                  <li>เปิดบริการ 24 ชั่วโมง ทั้ง แทงบอล และ คาสิโน</li>
                  <li>เข้าถึงได้จากอุปกรณ์การสื่อสารทุกชนิด</li>
                  <li>รองรับทั้ง Android และ IOS</li>
                  <li>
                    โปรโมชั่นแจกเยอะกว่าที่อื่น มีช่องถ่ายทอดสด ดูบอลสดออนไลน์
                    พร้อมให้บริการ
                  </li>
                  <li>
                    ทีมงานมืออาชีพมากประสบการณ์ ฝาก ถอน รวดเร็ว
                    จากธนาคารชั้นนำของประเทศไทย
                  </li>
                  <li>สมัครง่ายขั้นตอนน้อย ใช้ระยะเวลารวมไม่เกิน 10 นาที</li>
                  <li>
                    แถมเงินเครดิตทุกครั้งที่ฝากเข้ามาอีก 5 % ตลอดทุกช่วงเวลา
                  </li>
                </ul>
              </div>
            </el-col>
          </el-row>

          <el-row v-if="article" :gutter="20" class="mg-b-3">
            <el-col :span="24" :offset="0">
              <div class="head-title mg-b-3">บทความ</div>
            </el-col>
            <el-col
              :span="24"
              :md="12"
              :offset="0"
              v-for="data in tableData"
              :key="data._id"
              class="mg-b-3"
            >
              <div class="box-border box-article">
                <a :href="`/article/detail/${data._id}`"
                  ><el-row :gutter="20">
                    <el-col :span="8"
                      ><img :src="getImg(data.image)" class="mw-100" alt=""
                    /></el-col>
                    <el-col :span="16">
                      <h3>{{ data.name }}</h3>
                      <div class="text-2" v-html="data.descHtml">
                        แทงบอลออนไลน์ฟรี หลายๆท่านนั้นคงจะรู้จัก
                        หรือคุ้นเคยกับการเดิมพัน ที่เป็นที่นิยมอย่าง
                        การแทงบอลออนไลน์ ของเว็บเรากันเป็นอย่างดี
                        เพราะเป็นการเดิมพัน ที่สร้างชื่อเสียงให้กับเรา
                        เป็นอย่างมาก ไม่ว่าจะเป็นในเรื่อง ของโปรโมชั่นมากมาย
                        ที่เรานั้นมีให้กับการแทงบอลของท่าน
                        นั่นเองและยังมีตัวช่วยให้กับการแทงบอล
                        ของท่านอีกมากมายโปรโมชั่นที่ว่ามานั้น ที่เรามีให้แก่ทุก
                      </div></el-col
                    >
                  </el-row></a
                >
              </div>
            </el-col>
            <el-col :span="24" :offset="0">
              <div class="mt-3 text-center">
                <el-pagination
                  background
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  layout="sizes,prev, pager, next"
                  :total="total"
                  :page-size="pageSize"
                  :page-sizes="[6, 10, 20, 40, 80, 100, 150, 200]"
                >
                </el-pagination>
              </div>
              <div class="mt-4 box-border">
                <img src="@/assets/bank.jpg" class="mw-100" alt="" /></div
            ></el-col>
          </el-row>
        </div>
      </div>
    </div>
    <footerBar />
    <div class="fix-contact">
      <div class="icon" @click="showLine = !showLine">
        <i class="fa-solid" :class="!showLine ? 'fa-plus' : 'fa-xmark'"></i>
      </div>
      <div v-if="showLine">
        <div>
          <img class="mw-100" src="@/assets/line-qr.png" alt="" />
        </div>
        <div class="line">
          <a href="https://line.me/R/ti/p/@098wleou" target="_bank"
            >LINE ID : @098wleou</a
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import footerBar from "@/components/Footer";
import headerBar from "@/components/Header";
import Banner from "@/components/Banner";
import register from "@/components/Register";
import Deposit from "@/components/Deposit";
import api from "@/api/article";
import { HTTP } from "../service/axios";
export default {
  props: {
    article: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      desposit: false,
      showLine: true,
      visible: false,
      formData: {
        username: "",
        password: "",
      },
      filter: {
        title: "",
        skip: 0,
        limit: 6,
      },
      tableData: [],
      total: 0,
      page: 1,
      pageSize: 6,
    };
  },
  mounted() {
    this.article ? this.getData() : "";
  },
  methods: {
    async logout() {
      setTimeout(() => {
        window.localStorage.eram.clear();
      }, 200);
      window.localStorage.removeItem("slot-game");
      delete HTTP.defaults.headers.common.Authorization;
      setTimeout(() => {
        window.location.href = "/";
      }, 250);
    },
    signIn() {
      HTTP.post(`/user/signin`, this.formData).then((res) => {
        if (res.data.success) {
          this.$notify({
            title: "Success",
            message: `สวัสดี ${res.data.obj.username}`,
            type: "success",
          });
          this.$store.commit("SET_USER", res.data.obj);
          this.$store.commit("SET_TOKEN", res.data.obj.token);
        }
      });
    },
    handleSizeChange(size) {
      this.loading = true;
      this.pageSize = size;
      this.filterData();
    },
    handleCurrentChange(page) {
      this.loading = true;
      this.page = page;
      this.filterData();
    },
    async filterData() {
      let obj = {
        skip: (this.page - 1) * this.pageSize,
        limit: this.pageSize,
      };
      let res = await api.getAll(obj, this.token);
      if (res.data.success) {
        this.tableData = res.data.obj;
        this.total = res.data.total;
      }
      this.loading = false;
    },
    async getData() {
      let obj = {
        limit: 6,
        skip: 0,
      };
      let res = await api.getAll(obj, this.token);
      if (res.data.success) {
        this.tableData = res.data.obj;
        this.total = res.data.total;
      }
    },
  },
  components: {
    Deposit,
    footerBar,
    register,
    headerBar,
    Banner,
  },
};
</script>
<style lang="scss"  scoped>
.fix-contact {
  .line {
    text-align: center;
    background: #00c716;
    padding: 2px 5px;
  }
  a {
    color: #fff;
    font-size: 14px;
  }
  .icon {
    cursor: pointer;
    padding: 0px 5px;
    display: inline;
    background: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
  }
  z-index: 10;
  text-align: right;
  position: fixed;
  top: 45%;
  right: 15px;
  width: 150px;
}
</style>
