<template>
  <DashboardTemplate>
    <div class="p-3">
      <el-row :gutter="20">
        <el-col :span="24"
          ><div>
            <h1>{{ edit ? "แก้ไขบทความ" : "เพิ่มบทความ" }}</h1>
          </div>
        </el-col>
        <el-col :span="24">
          <FormInput :edit="edit" :formData="formData" @saveData="saveData" />
        </el-col>
      </el-row>
    </div>
  </DashboardTemplate>
</template>
<script>
import "@/mixin/dashboardTemplate";
import FormInput from "@/components/form/FormArticle";
import axios from "axios";
import { HTTP } from "@/service/axios";
export default {
  components: {
    FormInput,
  },
  data() {
    return {
      edit: typeof this.$route.params.id == "undefined" ? false : true,
      loading: true,
      formData: {
        name: "",
        img: [],
        cateId: 1,
        descHtml: "",
      },
    };
  },
  mounted() {
    this.edit ? this.getData() : (this.loading = false);
  },
  methods: {
    getData() {
      HTTP.defaults.headers.common.Authorization = `Bearer ${this.token}`;
      HTTP.get(`/article/by?id=${this.$route.params.id}`)
        .then((res) => {
          console.log(`/banner/by?id=${this.$route.params.id}`, res);
          if (res.data.status == 200) {
            this.formData._id = res.data.obj._id;
            this.formData.name = res.data.obj.name;
            this.formData.descHtml = res.data.obj.descHtml;
            this.formData.cateId = res.data.obj.cateId;
            this.formData.index_img = res.data.obj.image;
            this.formData.img.push({
              name: res.data.obj.image,
              url: this.getImg(res.data.obj.image),
              file: {
                url: this.getImg(res.data.obj.image),
              },
            });
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    saveData() {
      const config = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      let formData = new FormData();
      let url = "/article/create";
      let alertText = "เพิ่มข้อมูลสำเร็จ";
      if (this.edit) {
        formData.append("_id", Number(this.$route.params.id));
        url = "/article/edit";
        alertText = "แก้ไขข้อมูลสำเร็จ";
      }
      console.log(this.formData.img);
      formData.append("name", this.formData.name);
      formData.append("cateId", this.formData.cateId);
      formData.append("descHtml", this.formData.descHtml);
      formData.append("status", "1");
      formData.append("active", "1");
      if (this.formData.img.length > 0) {
        formData.append("image", this.formData.img[0].file.raw);
      }

      HTTP.defaults.headers.common.Authorization = `Bearer ${this.token}`;
      HTTP.post(url, formData, config)
        .then((res) => {
          console.log(url, res);
          if (res.data.success) {
            this.loading = false;
            this.$message({
              message: alertText,
              type: "success",
            });
            this.$router.push("/article");
          } else {
            this.$message.error(res.data.data);
          }
        })
        .catch((e) => {
          this.$message.error(e);
          //console.log(`${url} error`, e);
        });
    },
  },
};
</script>
