<template>
  <DashboardTemplate>
    <div class="p-3">
      <el-row :gutter="20">
        <el-col :span="24"
          ><div>
            <h1>{{ edit ? "แก้ไขแบนเนอร์" : "เพิ่มแบนเนอร์" }}</h1>
          </div>
        </el-col>
        <el-col :span="24">
          <FormInput :edit="edit" :formData="formData" @saveData="saveData" />
        </el-col>
      </el-row>
    </div>
  </DashboardTemplate>
</template>
<script>
import "@/mixin/dashboardTemplate";
import FormInput from "@/components/form/FormBanner";
import axios from "axios";
import { HTTP } from "@/service/axios";
export default {
  components: {
    FormInput,
  },
  data() {
    return {
      edit: typeof this.$route.params.id == "undefined" ? false : true,
      loading: true,
      formData: {
        title: "",
        cateId:1,
        img: [],
        title: "",
        index_img: "",
      },
    };
  },
  mounted() {
    this.edit ? this.getData() : (this.loading = false);
  },
  methods: {
    getData() {
      HTTP.defaults.headers.common.Authorization = `Bearer ${this.token}`;
      HTTP.post(`/banner/get`, { _id: this.$route.params.id })
        .then((res) => {
          //   console.log(`/banner/by?id=${this.$route.params.id}`, res);
          if (res.data.success) {
            this.formData._id = res.data.obj._id;
            this.formData.title = res.data.obj.title;
            this.formData.index_img = res.data.obj.index_img;
            this.formData.img.push({
              name: res.data.obj.img,
              url: this.getImg(res.data.obj.img),
              file: {
                url: this.getImg(res.data.obj.img),
              },
            });
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    saveData() {
      const config = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      let formData = new FormData();
      let url = "/banner/create";
      let alertText = "เพิ่มข้อมูลสำเร็จ";
      if (this.edit) {
        formData.append("_id", this.$route.params.id);
        url = "/banner/edit";
        alertText = "แก้ไขข้อมูลสำเร็จ";
      }
      console.log(this.formData.img);
      formData.append("title", this.formData.title);
      if (this.formData.img.length > 0) {
        formData.append("image", this.formData.img[0].file.raw);
      }

      formData.append("index", 0);

      HTTP.defaults.headers.common.Authorization = `Bearer ${this.token}`;
      HTTP.post(url, formData, config)
        .then((res) => {
          console.log(url, res);
          if (res.data.success) {
            this.loading = false;
            this.$message({
              message: alertText,
              type: "success",
            });
            this.$router.push("/banner");
          } else {
            this.$message.error(res.data.data);
          }
        })
        .catch((e) => {
          this.$message.error(e);
          //console.log(`${url} error`, e);
        });
    },
  },
};
</script>
