<template>
  <div>
    <div class="height-screen-100 login--page">
      <el-row
        justify="center"
        align="middle"
        type="flex"
        class="height-screen-100"
      >
        <el-col :span="20" :md="10" class="mg-x-auto">
          <div class="box--login">
            <h2 class="text-center text-white">UFABESTBET</h2>
            <el-form
              :model="ruleForm"
              status-icon
              ref="ruleForm"
              class="demo-ruleForm"
            >
              <el-form-item label>
                <el-alert
                  v-if="msgErrorValid !== ''"
                  title="แจ้งเตือน"
                  type="error"
                  @close="msgErrorValid = ''"
                  :description="msgErrorValid"
                  :class="{ 'shake animated': animated }"
                  class
                  show-icon
                ></el-alert>
              </el-form-item>
              <el-form-item label="Username" prop="email">
                <el-input
                  v-model="ruleForm.email"
                  @keyup.enter.native="signIn"
                ></el-input>
              </el-form-item>
              <el-form-item label="Password" prop="pass">
                <el-input
                  type="password"
                  v-model="ruleForm.pass"
                  show-password
                  @keyup.enter.native="signIn"
                ></el-input>
              </el-form-item>
              <el-form-item class="text-center">
                <el-button class="width-max" type="primary" @click="signIn"
                  >เข้าสู่ระบบ</el-button
                >
              </el-form-item>
              <el-form-item class="t-center"> </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import "@/mixin/defaultTemplate";
import apiUser from "@/api/user";
export default {
  data() {
    return {
      animated: true,
      ruleForm: {
        email: "",
        pass: "",
      },
      fullscreenLoading: false,
      msgErrorValid: "",
    };
  },
  methods: {
    async signIn() {
      this.animated = false;
      let obj = {
        username: this.ruleForm.email,
        password: this.ruleForm.pass,
      };
      let res = await apiUser.adminSignIn(obj);
      console.log("res", res);
      if (res.data.success) {
        this.$store.commit("SET_USER", res.data.obj);
        this.$store.commit("SET_TOKEN", res.data.obj.token);
        this.$notify({
          title: "Success",
          message: `สวัสดี ${res.data.obj.username}`,
          type: "success",
        });
        this.$router.push("/transaction");
      } else {
        this.$message({
          showClose: true,
          message: "Invalid Login or password.",
          type: "error",
        });
      }
    },
  },
};
</script>
<style scoped>
</style>