<template>
  <defaultTemplate :article="true">
    <div class="box-border">
      <div class="mg-b-3">
        <img :src="getImg(formData.index_img)" class="mw-100" alt="" />
      </div>
      <div>
        <h3>{{ formData.name }}</h3>
        <div v-html="formData.descHtml"></div>
      </div>
    </div>
  </defaultTemplate>
</template>
<script>
import "@/mixin/defaultTemplate";
import { HTTP } from "@/service/axios";
export default {
  data() {
    return {
      formData: {
        name: "",
        descHtml: "",
        img: [],
        index_img: "",
      },
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      HTTP.defaults.headers.common.Authorization = `Bearer ${this.token}`;
      HTTP.get(`/article/by?id=${this.$route.params.id}`)
        .then((res) => {
          console.log(`/banner/by?id=${this.$route.params.id}`, res);
          if (res.data.status == 200) {
            this.formData._id = res.data.obj._id;
            this.formData.name = res.data.obj.name;
            this.formData.descHtml = res.data.obj.descHtml;
            this.formData.cateId = res.data.obj.cateId;
            this.formData.index_img = res.data.obj.image;
            this.formData.img.push({
              name: res.data.obj.image,
              url: this.getImg(res.data.obj.image),
              file: {
                url: this.getImg(res.data.obj.image),
              },
            });
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>