<template>
  <defaultTemplate>
    <div class="box-border">
      <div class="head-title mg-b-3">ติดต่อเรา</div>
      <h3>ติดต่อ UFABESTBET เว็บพนันออนไลน์ 24 ชั่วโมง 365 วัน</h3>
      <p>
        ติดต่อ UFABESTBET ช่องทางในการติดต่อพูดคุย เพื่อสอบถามปัญหาต่างๆ
        ฝาก-ถอนเงินเครดิต
        หรือแม้กระทั่งปรึกษาการใช้งานของตัวเว็บไซต์ของเราเรายินดีให้บริการผ่านสองช่องทางหลักของเรา
        ทั้งรูปแบบโทรมาพูดคุยกับพนักงานของเราผ่านทาง CALL CENTER หรือ
        อีกหนึ่งช่องทางสำหรับคนยุคใหม่กับ LINE@ ช่องทางที่สะดวกมากสำหรับยุค 4.0
        นี้
      </p>
      <p>
        เว็บไซต์แทงบอลออนไลน์อันดับ 1
        ที่มียอดผู้ติดตามและใช้งานจริงต่อวันมากสูงสุดถึง 5 หมื่นคนต่อวัน
        การันตีด้วยยอดผู้ใช้งานจริง มันบ่งบอกถึงประสิทธิภาพที่เรามี
        สิ่งที่เราทำได้กับบริการที่เหนือกว่าทุกเว็บที่เปิดให้บริการในตอนนี้
        อีกทั้งยังติดอันดับ GOOGLE อยู่ที่ TOP 10 มาโดยตลอด 10 ปีที่ผ่านมา
        ท่านจึงมั่นใจได้เลยว่าเว็บของเราคือเว็บที่มีคุณภาพมาก
        ไม่ใช่เพียงแค่การโฆษณาไปแบบเรื่อยๆ
        แต่เป็นการสร้างความน่าเชื่อถือมาตลอดการทำงานของเรา
      </p>
      <p>
        LINE@ :
        <a target="_bank" href="https://line.me/R/ti/p/@098wleou">@098wleou</a>
      </p>
    </div>
  </defaultTemplate>
</template>
<script>
import "@/mixin/defaultTemplate";
export default {};
</script>