<template>
  <DashboardTemplate>
    <div class="p-3">
      <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="24"
          ><div class="text-right mb-3">
            <router-link to="/add/article"
              ><el-button type="primary">เพิ่มบทความ</el-button>
            </router-link>
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24">
          <el-table :data="tableData" border style="width: 100%">
            <el-table-column
              label="รูปภาพ (731x731)"
              prop="image"
              align="center"
            >
              <template slot-scope="scope">
                <img
                  :src="getImg(scope.row.image)"
                  alt=""
                  style="height: 150px"
                />
              </template>
            </el-table-column>
            <el-table-column label="ชื่อ" prop="name" align="center">
            </el-table-column>
            <el-table-column label="โปรโมชั่น" prop="name" align="center">
              <template slot-scope="scope">
                <el-checkbox
                  :checked="scope.row.promotion == 1 ? true : false"
                  @change="updatePromotion(scope.row._id)"
                  >โปรโมชั่น</el-checkbox
                >
              </template>
            </el-table-column>

            <el-table-column label="action" header-align="center" width="240">
              <template slot-scope="scope">
                <router-link :to="`/edit/article/${scope.row._id}`" class="mr-1"
                  ><el-button type="info" icon="el-icon-edit"
                    >แก้ไข</el-button
                  ></router-link
                >
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  @click="confirmDelete(scope.row)"
                  >ลบ</el-button
                >
              </template>
            </el-table-column>
          </el-table>
          <div class="mt-3 text-center">
            <el-pagination
              background
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              layout="sizes,prev, pager, next"
              :total="total"
              :page-sizes="[10, 20, 40, 80, 100, 150, 200]"
            >
            </el-pagination>
          </div>
        </el-col>
      </el-row>
    </div>
  </DashboardTemplate>
</template>
<script>
import "@/mixin/dashboardTemplate";
import api from "@/api/article";
export default {
  data() {
    return {
      options: [],
      value: null,
      filter: {
        title: "",
        skip: 0,
        limit: 10,
      },
      tableData: [],
      total: 0,
      page: 1,
      pageSize: 10,
      loading: false,
    };
  },
  mounted() {
    this.getData();
  },
  computed: {
    token() {
      return this.$store.state.token;
    },
  },
  methods: {
    async updatePromotion(id) {
      let res = await api.UpdateToPromotion(id);
      if (res.data.status == 200) {
        this.$message({
          type: "success",
          message: "Update completed",
        });
      }
    },
    confirmDelete(data) {
      this.$confirm(`ต้องการลบ "${data.title}" หรือไม่?`, "Warning", {
        confirmButtonText: "ลบ",
        cancelButtonText: "ยกเลิก",
        type: "warning",
      })
        .then(async () => {
          let res = await api.Delete(data._id, this.token);
          if (res.data.success) {
            this.$message({
              type: "success",
              message: "Delete completed",
            });
          }
          this.getData();
        })
        .catch(() => {});
    },
    handleSizeChange(size) {
      this.loading = true;
      this.pageSize = size;
      this.filterData();
    },
    handleCurrentChange(page) {
      this.loading = true;
      this.page = page;
      this.filterData();
    },
    async filterData() {
      let obj = {
        skip: (this.page - 1) * this.pageSize,
        limit: this.pageSize,
      };
      let res = await api.getAll(obj, this.token);
      if (res.data.success) {
        this.tableData = res.data.obj;
        this.total = res.data.total;
      }
      this.loading = false;
    },
    async getData() {
      let obj = {
        limit: 10,
        skip: 0,
      };
      let res = await api.getAll(obj, this.token);
      if (res.data.success) {
        this.tableData = res.data.obj;
        this.total = res.data.total;
      }
    },
  },
};
</script>