<template>
  <DashboardTemplate>
    <div class="p-3">
      <el-row :gutter="20" type="flex" align="middle">
        <!-- <el-col :span="24"
          ><div class="text-right mb-3">
            <router-link to="/add/banner"
              ><el-button type="primary">เพิ่มแบนเนอร์</el-button>
            </router-link>
          </div>
        </el-col> -->
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24">
          <el-table :data="tableData" border style="width: 100%">
            <el-table-column label="สลิปฝากเงิน" prop="image" align="center">
              <template slot-scope="scope">
                <img
                  :src="getImg(scope.row.file_transaction)"
                  alt=""
                  style="height: 150px"
                />
              </template>
            </el-table-column>
            <el-table-column label="จำนวนเงิน" prop="amount" align="center">
            </el-table-column>
            <el-table-column label="ช่องทาง" prop="channel" align="center">
            </el-table-column>
            <el-table-column
              label="วันที่ - เวลา"
              prop="date_transaction"
              align="center"
            >
              <template slot-scope="scope">
                {{ scope.row.date_transaction | dateTimeTh }}
              </template>
            </el-table-column>
            <el-table-column
              label="ชื่อ - นามสกุล"
              prop="amount"
              align="center"
            >
              <template slot-scope="scope">
                {{ scope.row.firstname }} {{ scope.row.lastname }}
              </template>
            </el-table-column>
            <!-- 
            <el-table-column label="action" header-align="center" width="240">
              <template slot-scope="scope">
                <router-link :to="`/edit/banner/${scope.row._id}`" class="mr-1"
                  ><el-button type="info" icon="el-icon-edit"
                    >แก้ไข</el-button
                  ></router-link
                >
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  @click="confirmDelete(scope.row)"
                  >ลบ</el-button
                >
              </template>
            </el-table-column> -->
          </el-table></el-col
        ></el-row
      >
    </div>
  </DashboardTemplate>
</template>
<script>
import "@/mixin/dashboardTemplate";
import api from "@/api/transaction";
export default {
  data() {
    return {
      options: [],
      value: null,
      filter: {
        title: "",
        skip: 0,
        limit: 10,
      },
      tableData: [],
      total: 0,
      page: 1,
      pageSize: 10,
      loading: false,
    };
  },
  mounted() {
    this.getData();
  },
  computed: {
    token() {
      return this.$store.state.token;
    },
  },
  methods: {
    handleSizeChange(size) {
      this.loading = true;
      this.pageSize = size;
      this.filterData();
    },
    handleCurrentChange(page) {
      this.loading = true;
      this.page = page;
      this.filterData();
    },
    async filterData() {
      let obj = {
        skip: (this.page - 1) * this.pageSize,
        limit: this.pageSize,
      };
      let res = await api.GetAll(obj, this.token);
      if (res.data.success) {
        this.tableData = res.data.obj;
        this.total = res.data.total;
      }
      this.loading = false;
    },
    async getData() {
      let obj = {
        limit: 10,
        skip: 0,
      };
      let res = await api.GetAll(obj, this.token);
      if (res.data.success) {
        this.tableData = res.data.obj;
        this.total = res.data.total;
      }
    },
  },
};
</script>