<template>
  <DashboardTemplate>
    <div class="p-3">
      <el-row :gutter="20">
        <el-col :span="24">
          <el-form ref="form" :model="filter" label-position="top">
            <el-row :gutter="20">
              <el-col :span="24" :sm="12" :md="6">
                <el-form-item label="Search">
                  <el-input v-model="filter.search" @input="search()">
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-col>
        <el-col :span="24">
          <el-table :data="tableData" border style="width: 100%">
            <el-table-column
              prop="username"
              label="ชื่อผู้ใช้งาน"
              header-align="center"
            >
            </el-table-column>
            <el-table-column
              prop="firstname"
              label="ชื่อ"
              header-align="center"
            >
            </el-table-column
            ><el-table-column
              prop="lastname"
              label="นามสกุล"
              header-align="center"
            >
            </el-table-column
            ><el-table-column prop="bank" label="ธนาคาร" header-align="center">
            </el-table-column>
            <el-table-column
              prop="account"
              label="เลขบัญชี"
              header-align="center"
            >
            </el-table-column>
            <!-- <el-table-column
              prop="mobilephone"
              label="หมายเลขโทรศัพท์"
              align="center"
            >
            </el-table-column> -->
            <el-table-column
              prop="id_line"
              label="ID Line"
              header-align="center"
            >
            </el-table-column>
            <el-table-column
              prop="channel"
              label="รู้จักจากช่องทาง"
              header-align="center"
            >
            </el-table-column>
          </el-table>
          <div class="mt-3 text-center">
            <el-pagination
              background
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              layout="sizes,prev, pager, next"
              :total="total"
              :page-sizes="[10, 20, 40, 80, 100, 150, 200]"
            >
            </el-pagination>
          </div>
        </el-col>
      </el-row>
    </div>
  </DashboardTemplate>
</template>
<script>
import "@/mixin/dashboardTemplate";
import apiUser from "@/api/user";
export default {
  data() {
    return {
      loading: false,
      filter: {
        search: "",
        skip: 0,
        limit: 10,
      },
      total: 0,
      page: 1,
      pageSize: 10,
      delay: null,
      tableData: [],
      imgUrl: process.env.VUE_APP_IMAGE_URL,
    };
  },
  computed: {
    token() {
      return this.$store.state.token;
    },
  },
  async mounted() {
    this.getData();
  },
  methods: {
    search(time = 700) {
      this.loading = true;
      (this.page = 1), (this.pageSize = 10);
      clearTimeout(this.delay);
      this.delay = setTimeout(() => {
        this.filterData();
      }, time);
    },
    handleSizeChange(size) {
      this.loading = true;
      this.pageSize = size;
      this.filterData();
    },
    handleCurrentChange(page) {
      this.loading = true;
      this.page = page;
      this.filterData();
    },
    async filterData() {
      let obj = {
        search: this.filter.search,
        skip: (this.page - 1) * this.pageSize,
        limit: this.pageSize,
      };
      let res = await apiUser.getAllUser(obj, this.token);
      if (res.data.success) {
        this.tableData = res.data.obj;
        this.total = res.data.total;
      }
      this.loading = false;
    },
    async getData() {
      this.loading = true;
      let obj = {
        search: "",
        limit: this.pageSize,
        skip: 0,
      };
      let res = await apiUser.getAllUser(obj, this.token);
      if (res.data.success) {
        this.tableData = res.data.obj;
        this.total = res.data.total;
      }
      this.loading = false;
    },
  },
};
</script>