<template>
  <defaultTemplate :article="true">
    <div class="box-border">
      <div class="head-title mg-b-3">โปรโมชั่น</div>
      <div v-html="data.descHtml"></div>
      <!-- <p>
        โปรโมชั่น UFABESTBET สำหรับสมาชิกใหม่ เมื่อสมัครสมาชิกกับเรา
        ท่านจะได้รับสิทธิ์ทุกโปรโมชั่นเพื่อให้ลูกค้าสามารถแทงบอลคู่ที่ชื่นชอบได้มากยิ่งขึ้น
        เราจึงจัดโปรโมชั่นนี้ขึ้นมาให้นักพนันโดยเฉพาะ
        ลูกค้าจะได้รับเครดิตไปเลยฟรีๆ เพียงคุณสมัครสมาชิกใหม่กับเรา UFABESTBET
        วันนี้ เรามอบราคาบอลสุดแสนพิเศษ
        เพื่อให้ท่านสามารถทำกำไรจากการเล่นได้สูงสุดในโลกของการเดิมพันฟุตบอล
        ด้วยราคาบอล 4 ตังค์ คอม 0.5% ทุกยอดการเล่น ให้ลูกค้าไปแทงบอลได้ทันที
        เพียงทำตามเงื่อนไขดังต่อไปนี้
      </p>
      <ul>
        <li>
          ต้องทำยอดเล่น (Turn over) ให้ได้มากกว่า x
          เท่าของยอดเงินที่ลูกค้าฝากเข้ามา
        </li>
        <li>
          เช่น ถ้าลูกค้าฝากเงินเข้ามา x,000 บาท x% คือ 400
          ทางเราก็เพิ่มเครดิตให้ลูกค้าเป็น xx และต้องทำยอด turn over ให้ได้ xx
          ถึงจะถอนเงินได้
        </li>
        <li>
          ไม่ทำการถอนเงินให้ก่อนในทุกๆกรณี จนกว่ายอดเล่น (turn over)
          จะถึงตามที่กำหนดไว้แล้วเท่านั้น
        </li>
        <li>
          แต่หากลูกค้าไม่ชอบที่จะทำ turn over สามารถเลือกที่จะไม่รับโบนัสเครดิต
          ได้เช่นกัน และถอนเงินสดได้ตลอด 24 ชั่วโมงโดยไม่จำกัดจำนวนครั้ง
          และไม่ต้องรอรอบในการถอนเงิน สมาชิกสามารถถอนเงินของท่านออกมาได้ทันที
        </li>
        <li>ต้องไม่มีรายชื่ออยู่ในฐานข้อมูลของ UFA08 มาก่อน</li>
      </ul> -->
    </div>
  </defaultTemplate>
</template>
<script>
import "@/mixin/defaultTemplate";
import { HTTP } from "@/service/axios";
export default {
  data() {
    return {
      data: null,
    };
  },
  mounted() {
    this.getPromotion();
  },
  methods: {
    getPromotion() {
      HTTP.get("/article/promotion")
        .then((result) => {
          console.log(result);
          if (result.data.status == 200) {
            this.data = result.data.obj;
          }
        })
        .catch((err) => {});
    },
  },
};
</script>