<template>
  <div>
    <DefaultTemplate :showSign="1">
      <h2 class="text-center">Sign In</h2>
      <el-form
        :model="ruleForm"
        status-icon
        ref="ruleForm"
        class="demo-ruleForm"
      >
        <el-form-item label>
          <el-alert
            v-if="msgErrorValid !== ''"
            title="แจ้งเตือน"
            type="error"
            @close="msgErrorValid = ''"
            :description="msgErrorValid"
            :class="{ 'shake animated': animated }"
            class
            show-icon
          ></el-alert>
        </el-form-item>
        <el-form-item label="Username" prop="email">
          <el-input
            v-model="ruleForm.email"
            @keyup.enter.native="signIn"
          ></el-input>
        </el-form-item>
        <el-form-item label="Password" prop="pass">
          <el-input
            type="password"
            v-model="ruleForm.pass"
            show-password
            @keyup.enter.native="signIn"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button class="width-max" type="primary" @click="signIn"
            >เข้าสู่ระบบ</el-button
          >
        </el-form-item>
        <el-form-item class="t-center"> </el-form-item>
      </el-form>
    </DefaultTemplate>
  </div>
</template>

<script>
import "@/mixin/defaultTemplate";
export default {
  data() {
    return {
      animated: true,
      ruleForm: {
        email: "",
        pass: ""
      },
      fullscreenLoading: false,
      msgErrorValid: ""
    };
  },
  methods: {
    signIn() {
      this.animated = false;
      this.$router.push("/users");
    }
  }
};
</script>
<style scoped>
</style>