<template>
  <div style="padding-bottom: 1px; background-color: #000">
    <div class="block">
      <el-carousel height="150px">
        <el-carousel-item v-for="data in allBanner" :key="data._id">
          <img class="mw-100" :src="getImg(data.img)" alt="" />
        </el-carousel-item>
      </el-carousel>
    </div>
  </div>
</template>

<script>
import api from "@/api/banner";
export default {
  mounted() {
    this.getBanner();
  },
  data() {
    return {
      allBanner: [],
    };
  },
  methods: {
    async getBanner() {
      let obj = {
        title: "",
        limit: 100,
        skip: 0,
      };
      let res = await api.getAllBanner(obj, this.token);
      if (res.data.success) {
        this.allBanner = res.data.obj;
      }
    },
  },
};
</script>

<style>
</style>