<template>
  <div>
    <el-dialog
      :top="'6vh'"
      :visible.sync="visible"
      :show-close="false"
      @closed="$emit('setvisible', false), resetForm()"
    >
      <div class="border-dialog">
        <h3 class="text-red text-center mg-t-1 text-white">แจ้งฝากเงิน</h3>
        <div class="text-center my-3">
          <img src="@/assets/icon-premium.png" alt="" :style="'width:90px'" />
        </div>
        <el-form ref="form" :model="form" label-position="top">
          <el-row :gutter="20">
            <el-col :span="24" class="mb-3">
              <p class="text-white">แนบหลักฐานการโอนเงิน</p>
              <div class="d-flex js-center ai-center">
                <el-upload
                  action="#"
                  :auto-upload="false"
                  :on-change="(file, fileList) => handlePreview(file, fileList)"
                  :on-remove="handleRemoveDocuments"
                  :file-list="form.img"
                  list-type="picture"
                  :limit="1"
                >
                  <el-button size="small" type="primary"
                    >Click to upload</el-button
                  >
                </el-upload>
              </div></el-col
            >
            <el-col :span="24" :md="12">
              <el-form-item
                label="จำนวนเงิน"
                :prop="'amount'"
                :rules="{
                  required: true,
                  message: 'กรุณากรอกจำนวนเงิน',
                  trigger: 'blur',
                }"
              >
                <el-input v-model="form.amount"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24" :md="12">
              <el-form-item
                label="วันที่ - เวลา"
                :prop="'date_transaction'"
                :rules="{
                  required: true,
                  message: 'กรุณากรอกวันที่ - เวลา',
                  trigger: 'blur',
                }"
              >
                <el-date-picker v-model="form.date_transaction" type="datetime">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item
                label="ช่องทาง"
                :prop="'channel'"
                :rules="{
                  required: true,
                  message: 'กรุณาเลือกช่องทาง',
                  trigger: 'blur',
                }"
              >
                <el-select
                  v-model="form.channel"
                  placeholder=""
                  filterable
                  clearable
                  class="w-100"
                >
                  <el-option label="ATM" value="ATM"> </el-option>
                  <el-option label="Mobile Banking" value="Mobile Banking">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>

            <el-col :span="24" class="text-center">
              <el-button type="danger" @click="$emit('setvisible', false)"
                >ยกเลิก</el-button
              ><el-button type="primary" @click="submitForm"
                >แจ้งฝากเงิน</el-button
              ></el-col
            >
            <el-col :span="24" class="text-center mt-3">
              <img src="@/assets/bank.jpg" class="mw-100" alt=""
            /></el-col>
          </el-row>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { HTTP } from "@/service/axios";
export default {
  props: {
    visible: {
      default: Boolean,
      return: false,
    },
  },
  computed: {
    referOption() {
      return this.$store.state.referForm;
    },
    bankOption() {
      return this.$store.state.bankName;
    },
  },
  data() {
    return {
      dialogFormVisible: false,
      fileList: [],
      dialogImageUrl: null,
      imgUrl: process.env.VUE_APP_IMAGE_URL,
      check: {
        mobile: true,
        account: true,
        line: true,
      },
      form: {
        channel: "",
        amount: "",
        date_transaction: new Date(),
        image: [],
      },
    };
  },
  methods: {
    submitForm() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          const config = {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          };
          let formData = new FormData();
          let url = "/user/payment/transaction";
          let alertText = "แจ้งฝากเงินสำเร็จ";
          formData.append("channel", this.form.channel);
          formData.append("amount", this.form.amount);
          formData.append("date_transaction", this.form.date_transaction);
          if (this.form.image.length > 0) {
            formData.append("image", this.form.image[0].file.raw);
          }
          HTTP.defaults.headers.common.Authorization = `Bearer ${this.token}`;
          HTTP.post(url, formData, config)
            .then((res) => {
              console.log(url, res);
              if (res.data.success) {
                this.loading = false;
                this.$message({
                  message: alertText,
                  type: "success",
                });
                this.$emit("setvisible", false);
              } else {
                this.$message.error(res.data.data);
              }
            })
            .catch((e) => {
              this.$message.error(e);
              //console.log(`${url} error`, e);
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    onRemove() {
      this.dialogImageUrl = null;
    },
    handleRemoveDocuments() {
      this.form.image.splice(0, 1);
    },
    handlePreview(file, fileList) {
      let typeThis = file.raw.name.split(".");
      if (
        typeThis[1] == "jpeg" ||
        typeThis[1] == "png" ||
        typeThis[1] == "jpg"
      ) {
        if (file.size < 25000000) {
          let obj = {
            name: file.name,
            file: file,
            url: file.url,
          };
          this.form.image.push(obj);
        } else {
          let index = fileList.findIndex((a) => a.uid == file.uid);
          fileList.splice(index, 1);
          this.$message({
            message: "กรุณาเลือกไฟล์ขนาดไม่เกิน 25mb",
            type: "error",
            duration: 4000,
          });
        }
      } else {
        let index = fileList.findIndex((a) => a.uid == file.uid);
        fileList.splice(index, 1);
        this.$message({
          message: "กรุณาเลือกไฟล์นามสกุลเป็น JPEG หรือ PNG เท่านั้น",
          type: "error",
          duration: 4000,
        });
      }
    },
    resetForm() {
      this.$refs.form.resetFields();
      this.form = {
        channel: "",
        amount: "",
        date_transaction: new Date(),
        image: null,
      };
    },
  },
};
</script>