<template>
  <div class="bg-footer pt-5">
    <div class="container">
      <el-row :gutter="20">
        <el-col :lg="9">
          <p class="text-white">
            <!-- <img
                src="@/assets/logo.png"
                class="mw-100 mr-2"
                alt=""
                style="float: left; width: 170px"
              /> -->
            UFABESTBET เราคือผู้ให้บริการเกมพนันออนไลน์
            อย่างเป็นทางการที่มั่นคง
            ปลอดภัยและดีที่สุดโดยเราใช้ระบบอัตโนมัติที่ทันสมัยตามมาตราฐานสากล
            มีเกมมากกว่า 100 เกมให้เลือกเล่น
            สามารถเล่นผ่านทางคอมพิวเตอร์และโทรศัพท์มือถือ
            มีทีมงานคุณภาพรอให้บริการตลอด 24 ชั่วโมง
          </p>
        </el-col>
        <el-col :lg="15">
          <el-row :gutter="20">
            <el-col :lg="12" class="nav-bottom">
              <h3>เมนูหลัก</h3>
              <nav class="mt-3">
                <ul>
                  {{
                    $router.options.name
                  }}
                  <a href="/" :class="{ active: $route.name == 'Home' }">
                    <li>หน้าแรก</li>
                  </a>
                  <a href="#" @click="visible = true">
                    <li>สมัครสมาชิก</li>
                  </a>
                  <a href="/contact-us" target="_blank">
                    <li>ติดต่อเรา</li>
                  </a>
                </ul>
              </nav></el-col
            >
            <el-col :lg="12">
              <a href="https://line.me/R/ti/p/@098wleou" target="_bank">
                <el-popover placement="top" trigger="click">
                  <img src="@/assets/line-qr.png" alt="" />
                  <img slot="reference" src="@/assets/line.png" alt="" />
                </el-popover> </a
            ></el-col>
          </el-row>
        </el-col>
        <el-col :span="24" class="text-center text-white"
          >Copyright 2022 © UFABESTBET
        </el-col>
      </el-row>
    </div>
    <register :visible="visible" @setvisible="(e) => (visible = e)" />
    <div class="mobile-nav">
      <ul>
        <li>
          <a href="/home#member"
            ><div class="box">
              <i class="fa-solid fa-wallet"></i>
            </div>
            ฝาก</a
          >
        </li>
        <li>
          <a href="/promotion"
            ><div class="box">
              <i class="fa-solid fa-gift"></i>
            </div>
            โปรโมชั่น
          </a>
        </li>
        <li class="main">
          <a href="/home#member">
            <div class="box"><i class="fa-solid fa-dollar-sign"></i></div>
            เข้าสู่ระบบ
          </a>
        </li>
        <li>
          <a href="/home#member">
            <div class="box">
              <i class="fa-solid fa-user-astronaut"></i>
            </div>
            สมัครสมาชิก
          </a>
        </li>
        <li>
          <a href="/contact-us">
            <div class="box">
              <i class="fa-brands fa-line"></i>
            </div>
            ติดต่อเรา
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import register from "@/components/Register";
export default {
  components: {
    register,
  },
  data() {
    return {
      visible: false,
    };
  },
};
</script>
<style lang="scss" scoped>
.nav-bottom {
  a {
    color: #fff;
  }
  h3 {
    color: #ffff00;
    font-weight: bold;
  }
}
</style>