<template>
  <header class="fix-header">
    <div class="container">
      <el-row :gutter="22">
        <el-col :md="13" class="text-center">
          <a href="/">
            <img src="@/assets/banner.jpg" class="mw-100" alt="" />
          </a>
        </el-col>
        <el-col :md="11">
          <el-row :gutter="20">
            <el-col :span="24" :offset="0">
              <div class="nav-top mt-3 mt-xl-4">
                <div class="container">
                  <el-row :gutter="20">
                    <el-col :span="24" :offset="0">
                      <div>
                        <ul>
                          <li>
                            <a class="text-white" @click="visible = true"
                              >สมัคร UFABESTBET</a
                            >
                          </li>
                          <li>
                            <router-link to="/promotion">โปรโมชั่น</router-link>
                          </li>
                          <li>
                            <router-link to="/contact-us"
                              >ติดต่อเรา</router-link
                            >
                          </li>
                        </ul>
                      </div>
                    </el-col>
                  </el-row>
                </div>
              </div></el-col
            >
            <el-col :span="12" :offset="0"> </el-col>
          </el-row>
        </el-col>
      </el-row>
    </div>

    <register :visible="visible" @setvisible="(e) => (visible = e)" />
  </header>
</template>
<script>
import register from "@/components/Register";
export default {
  components: {
    register,
  },
  data() {
    return {
      formData: {
        username: "",
        password: "",
      },
      columnProps: {
        xs: {
          span: 8,
          offset: 8,
        },
        sm: { span: 4, offset: 0 },
        md: { span: 3, offset: 0 },
      },
      visible: false,
    };
  },
};
</script>