<template>
  <div>
    <el-dialog
      :top="'6vh'"
      :visible.sync="visible"
      :show-close="false"
      @closed="$emit('setvisible', false), resetForm()"
    >
      <div class="border-dialog">
        <h3 class="text-red text-center mg-t-1 text-white">สมัครสมาชิก</h3>
        <div class="text-center my-3">
          <img src="@/assets/banner1 (2).jpg" alt="" :style="'width:150px'" />
        </div>
        <el-form ref="form" :model="form" :rules="rules" label-position="top">
          <el-row :gutter="20">
            <el-col :span="24" :md="12">
              <el-form-item label="ชื่อผู้ใช้งาน (เบอร์โทร)" :prop="'username'">
                <!-- <el-input v-model="form.username"></el-input> -->
                <el-input v-model="form.username" :maxlength="10"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24" :md="12">
              <el-form-item
                label="รหัสผ่าน"
                :prop="'password'"
                :rules="{
                  required: true,
                  message: 'กรุณารหัสผ่าน',
                  trigger: 'blur',
                }"
              >
                <el-input show-password v-model="form.password"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24" :md="12">
              <el-form-item
                label="ชื่อ"
                :prop="'firstname'"
                :rules="{
                  required: true,
                  message: 'กรุณากรอกชื่อ',
                  trigger: 'blur',
                }"
              >
                <el-input v-model="form.firstname"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24" :md="12">
              <el-form-item
                label="นามสกุล"
                :prop="'lastname'"
                :rules="{
                  required: true,
                  message: 'กรุณากรอกนามสกุล',
                  trigger: 'blur',
                }"
              >
                <el-input v-model="form.lastname"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-col :span="24">
            <el-form-item
              label="ธนาคาร"
              :prop="'bank'"
              :rules="{
                required: true,
                message: 'กรุณาเลือกธนาคาร',
                trigger: 'blur',
              }"
            >
              <el-select
                v-model="form.bank"
                placeholder=""
                filterable
                clearable
                class="w-100"
              >
                <el-option
                  v-for="item in bankOption"
                  :key="item.value"
                  :label="item.name"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="เลขที่บัญชี"
              :prop="'account'"
              :rules="{
                required: true,
                message: 'กรุณากรอกเลขบัญชี',
                trigger: 'blur',
              }"
            >
              <div class="alert-check" v-if="!check.account">
                เลขบัญชีนี้ถูกใช้งานแล้ว
              </div>
              <el-input
                v-model="form.account"
                v-mask="'###-#-#####-###-#'"
                @blur="checkAccount()"
              ></el-input>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="24">
            <el-form-item
              label="เบอร์โทรศัพท์"
              :prop="'mobilephone'"
              :rules="{
                required: true,
                message: 'กรุณากรอกหมายเลขโทรศัพท์',
                trigger: 'blur',
              }"
            >
              <div class="alert-check" v-if="!check.mobile">
                หมายเลขโทรศัพท์นี้ถูกใช้งานแล้ว
              </div>
              <el-input
                v-model="form.mobilephone"
                :maxlength="9"
                @blur="checkMobile()"
                ><template slot="prepend">0</template></el-input
              >
            </el-form-item>
          </el-col> -->
          <el-col :span="24">
            <el-form-item
              label="ID Line"
              :prop="'line'"
              :rules="{
                required: true,
                message: 'กรุณากรอก ID Line',
                trigger: 'blur',
              }"
            >
              <div class="alert-check" v-if="!check.line">
                ID Line นี้ถูกใช้งานแล้ว
              </div>
              <el-input v-model="form.line" @blur="checkLine()"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="รู้จักเราจากช่องทางใด"
              :prop="'channel'"
              :rules="{
                required: true,
                message: 'กรุณาเลือกรู้จักเราจากช่องทางใด',
                trigger: 'blur',
              }"
            >
              <div class="w-100">
                <el-radio-group v-model="form.channel">
                  <el-radio
                    :label="item.label"
                    v-for="item in referOption"
                    :key="item.label"
                    >{{ item.label }}</el-radio
                  >
                </el-radio-group>
              </div>
              <el-form-item
                v-if="form.channel == 'อื่นๆ'"
                :prop="'etc'"
                :rules="{
                  required: true,
                  message: 'กรุณากรอกรู้จักเราจากช่องทางใด',
                  trigger: 'blur',
                }"
              >
                <el-input
                  v-model="form.etc"
                  placeholder="รู้จักเราจากช่องทางใด"
                ></el-input>
              </el-form-item>
            </el-form-item>
          </el-col>
        </el-form>
        <div class="text-center">
          <el-button type="danger" @click="$emit('setvisible', false)"
            >ยกเลิก</el-button
          ><el-button type="primary" @click="submitForm">สมัครสมาชิก</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import apiUser from "@/api/user";
export default {
  props: {
    visible: {
      default: Boolean,
      return: false,
    },
  },
  computed: {
    referOption() {
      return this.$store.state.referForm;
    },
    bankOption() {
      return this.$store.state.bankName;
    },
  },
  data() {
    var checkAge = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("กรุณากรอกเบอร์มือถือ"));
      }
      setTimeout(() => {
        let regex = new RegExp(/^[0-9]+$/);
        if (!regex.test(value)) {
          callback(new Error("กรุณากรอกเฉพาะตัวเลข"));
        } else {
          if (value.length < 10 || value.length > 10) {
            callback(new Error("กรุณากรอกเบอร์มือถือ 10 หลัก"));
          } else {
            callback();
          }
        }
      }, 1000);
    };
    return {
      dialogFormVisible: false,
      check: {
        mobile: true,
        account: true,
        line: true,
      },
      form: {
        username: "",
        password: "",
        firstname: "",
        lastname: "",
        bank: "",
        account: "",
        mobilephone: "",
        line: "",
        channel: "",
        etc: "",
      },
      rules: {
        username: [{ validator: checkAge, trigger: "blur" }],
      },
    };
  },
  methods: {
    async checkLine() {
      let obj = {
        line: this.form.line,
      };
      let res = await apiUser.checkLine(obj);
      this.check.line = res.data.success;
    },
    async checkMobile() {
      let obj = {
        mobilephone: "0" + this.form.mobilephone,
      };
      let res = await apiUser.checkMobile(obj);
      this.check.mobile = res.data.success;
    },
    async checkAccount() {
      let obj = {
        account: this.form.account.replaceAll("-", ""),
      };
      let res = await apiUser.checkAccount(obj);
      this.check.account = res.data.success;
    },
    submitForm() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          let obj = {
            username: this.form.username,
            password: this.form.password,
            firstname: this.form.firstname,
            lastname: this.form.lastname,
            bank: this.form.bank,
            account: this.form.account,
            mobilephone: " ",
            line: this.form.line,
            channel:
              this.form.etc == "อื่นๆ" ? this.form.etc : this.form.channel,
          };
          let res = await apiUser.register(obj);
          if (res.data.success) {
            this.$notify({
              title: "Success",
              message: "สมัครสมาชิกสำเร็จ",
              type: "success",
            });
            this.$emit("setvisible", false);
          }
          if (res.data.data == "Register not success") {
            this.$notify({
              title: "Error",
              message: "มีหมายเลขโทรศัพท์นี้ในระบบแล้ว",
              type: "error",
            });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm() {
      this.$refs.form.resetFields();
      this.check = {
        mobile: true,
        account: true,
        line: true,
      };
      this.form = {
        username: "",
        password: "",
        firstname: "",
        lastname: "",
        bank: "",
        account: "",
        mobilephone: "",
        line: "",
        channel: "",
        etc: "",
      };
    },
  },
};
</script>